
@import "reset.css";
@import "global.css";

/************************************************************
    Header
**********************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2.8rem;
  color: white;
  letter-spacing: 1.2rem;
}

.animated-tgl-btn {
  animation: mymove 1s;
}
@keyframes mymove {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.toggle-theme {
  flex-basis: 1%;
  cursor: pointer;
}
/************************************************************
    main global
*********************/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar {
  width: 100%;
  background-color: var(--color-surface);
  color: var(--color-text-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.cross:hover {
  cursor: pointer;
}
/************************************************************
    input bar
*********************/
#todo-input {
  margin-bottom: 2rem;
  justify-content: flex-start;
}

.text,
button {
  background-color: var(--color-surface);
  border: none;
}

.input-button {
  transform: rotate(45deg);
  padding: 0;
}

.text::placeholder {
  color: var(--color-text-1);
}

.text {
  padding-left: .7em;
  color: var(--color-text-active);
  width: 95%;
  font-family: inherit;
  outline: none;
}

.datetimepicker-toggle {
  display: inline-block;
  position: relative;
  width: 3rem;
  height: 2rem;
}

.datetimepicker-toggle-button {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/icon-calendar.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.datetimepicker-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.datetimepicker-input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
/************************************************************
  todos container
*********************/
.todo-list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nothing-to-do {
  border-radius: 5px 5px 0 0;
  justify-content: center;
}

/************************************************************
todo item
*********************/
.todo {
  border-radius: 0;
  border-bottom: 1px solid var(--color-text-1);
  transition: all 0.5s ease;
}

.todo:first-child {
  border-radius: 8px 8px 0 0;
}

.fake-checkbox {
  width: calc(1.5em - 1px);
  height: calc(1.5em - 1px);
  border-radius: 100%;
  border: 1px solid var(--color-border);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.fake-checkbox-wrapper {
  margin-right: 2rem;
  padding: 1px;
}

.todo-text:hover .fake-checkbox-wrapper {
  border-radius: 100%;
  background-image: var(--gradient-primary);
}

.todo-text:hover .fake-checkbox {
  background-color: var(--color-surface);
  border-width: 0;
}

.check-mark {
  display: none;
}

.checkbox:checked + .todo-text .fake-checkbox {
  background-image: var(--gradient-primary);
}

.checkbox:checked + .todo-text .fake-checkbox .check-mark {
  display: initial;
}

.todo-text {
  flex: 1;
  color: var(--color-text-active);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-items: center;
}

.checkbox:checked ~ .todo-text {
  text-decoration: line-through;
  color: var(--color-text-completed);
}

.todo-time {
  margin: 0;
}

#delete {
  pointer-events: none;
  cursor: pointer;
}

.delete {
  cursor: pointer;
}

.todo:hover #delete {
  opacity: 1;
}

.fall {
  transform: translateY(8rem) rotate(20deg);
  opacity: 0;
}
/************************************************************
dashboard bar
*********************/
.dashboard {
  width: 100%;
  font-size: 1.3rem;
}
/************************************************************
controls bar
*********************/
.controls {
  border-top: 1px solid var(--color-text-1);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 0 0 5px 5px;
}

.clear-all-completed {
  cursor: pointer;
}

.clear-all-completed:hover,
input[type="radio"]:hover + label {
  color: var(--color-text-active);
}
/************************************************************
filter bar
*********************/

.filter {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5em;
  padding-right: 0;
}

.filter li {
  list-style: none;
  padding: 0 0.5rem;
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

.filter label {
  cursor: pointer;
}

input[type="radio"]:checked + label {
  color: var(--color-bright-blue);
}

.reorder-instruction {
  font-size: 1.2rem;
  color: var(--color-text-1);
  margin-top: 4.5rem;
  text-align: center;
}

/************************************************************
media queries
*********************/
@media (min-width: 376px) {
  body {
    background-image: var(--bg-img-desktop);
    font-size: 1.8rem;
  }
  .reorder-instruction {
    font-size: 1.4rem;
  }
}

@media (min-width: 600px) {
  h1 {
    font-size: 4rem;
  }

  .bar {
    font-size: 1.7rem;
  }

  form input {
    font: inherit;
  }

  header,
  main {
    max-width: 50ch;
    margin-left: auto;
    margin-right: auto;
  }

  #delete {
    opacity: 0;
  }

  .dashboard {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
  }

  .controls {
    font-size: 1.6rem;
    grid-column: 1 / 4;
    grid-row: 1;
  }

  .filter {
    width: fit-content;
    font-size: 1.6rem;
    grid-column: 2;
    grid-row: 1;
    padding: 0;
    margin: 0;
    border: 0;
    border-top: 1px solid var(--color-text-1);
    box-shadow: 0 0;
    border-radius: 0;
  }
}

.todo-text::-webkit-scrollbar {
  width: .1em;
}
 
.todo-text::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.todo-text::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}