/*********************** 
        Global  
************************/
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

[hidden] {
  display: none;
}

/*********************** 
      Typography  
************************/
html {
  font-size: 62.5%;
}

h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 1.872rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.328rem;
}
h6 {
  font-size: 1.072rem;
}

h1 {
  margin: 0.67em 0;
}

pre {
  white-space: pre-wrap;
}

hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: inherit;
  height: 0;
  overflow: visible;
}
/******************************************************
  label: Line Heights
  The default `normal` line-height is tightly spaced,
  but takes font-metrics into account,
  which is important for many fonts.
  Looser spacing may improve readability in latin type,
  but may cause problems in some scripts --
  from cusrive/fantasy fonts to
  [Javanese](https://jsbin.com/bezasax/1/edit?html,css,output),
  [Persian](https://jsbin.com/qurecom/edit?html,css,output),
  and CJK languages.
  todo: |
  - Use `:lang(language-code)` selectors?
  - Add typography remedies for other scripts & languages...
**********************************************************/

html {
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}
caption,
figcaption,
label,
legend {
  line-height: 1.375;
}

/*********************** 
    Embedded Elements 
************************/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
  max-width: 100%;
}
audio:not([controls]) {
  display: none;
}

picture {
  display: contents;
}
source {
  display: none;
}

img,
svg,
video,
canvas {
  height: auto;
}

audio {
  width: 100%;
}

/*********************** 
      Navigation 
************************/
/* 
  label: List Style
  List styling is not usually desired in navigation,
  but this also removes list-semantics for screen-readers
*/

nav ul {
  list-style: none;
}

/* 
  label: List Voiceover
  1. Add zero-width-space to prevent VoiceOver disable
  2. Absolute position ensures no extra space
*/

/* nav li:before {
  content: "\200B";
  position: absolute;
} */

/*********************** 
      Accessibility 
************************/
/* 
  label: Reduced Motion
  1. Immediately jump any animation to the end point
  2. Remove transitions & fixed background attachment
*/

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}
